window.org-gnome-TextEditor {
  .top-bar headbar {
    background-color: transparent;
  }

  page {
    background-color: $background_color;

    * {
      background-color: transparent;
    }

    .editor.view text {
      background-color: $background_color;
    }

    EditorSourceMap {
      @include secondary-background-gradient;
    }
  }
}
