// $top_hilight: $borders_edge;
// $menu_color: $base_color;
// $backdrop_bg_color: $bg_color;

// $suggested_bg_color: $selected_bg_color;
// $suggested_border_color: $selected_borders_color;
// $progress_bg_color: $selected_bg_color;
// $progress_border_color: $selected_borders_color;
// $checkradio_bg_color: $selected_bg_color;
// $checkradio_fg_color: $selected_fg_color;
// $switch_bg_color: $selected_bg_color;

$dim_label_opacity: 0.55;

$text_color: $primary_color;
$selected_fg_color: $primary_color;
$fg_color: $primary_color;
$insensitive_fg_color: $primary_color;
$backdrop_insensitive_color: $primary_color;
$backdrop_text_color: $primary_color;
$backdrop_fg_color: $primary_color;
$osd_fg_color: $primary_color;
$osd_text_color: $primary_color;
$osd_insensitive_fg_color: $primary_color;

$base_color: $background_color;
$bg_color: $background_color;
$insensitive_bg_color: $background_color;
$selected_bg_color: $background_color;
$backdrop_bg_color: $background_color;
$backdrop_base_color: $background_color;

$dark_fill: $background_color;
$headerbar_bg_color: $background_color;
$scrollbar_bg_color: $background_color;
$sidebar_bg_color: $background_color;
$insensitive_fg_color: $background_color;
$insensitive_bg_color: $background_color;
$backdrop_base_color: $background_color;
$backdrop_dark_fill: $background_color;
$osd_bg_color: $background_color;
$osd_insensitive_bg_color: $background_color;

$selected_fg_color: $secondary_color;
$alt_borders_color: $secondary_color;
$link_color: $secondary_color;
$menu_selected_color: $secondary_color;
$scrollbar_slider_color: $secondary_color;
$scrollbar_slider_hover_color: $secondary_color;
$scrollbar_slider_active_color: $secondary_color;
$backdrop_insensitive_color: $secondary_color;
$backdrop_selected_fg_color: $secondary_color;

$link_visited_color: $dark_color;

$selected_borders_color: transparent;
$borders_color: transparent;
$borders_edge: transparent;
$insensitive_borders_color: transparent;
$tooltip_borders_color: transparent;
$shadow_color: transparent;
$drop_target_color: transparent;
$backdrop_borders_color: transparent;
$checkradio_borders_color: transparent;
$switch_borders_color: transparent;
$focus_border_color: transparent;
$alt_focus_border_color: transparent;
$osd_borders_color: transparent;
