input,
button,
headerbar,
window.background {
  @include background-reset;
}

//
input,
button {
  @include primary-background-gradient;
  background-color: $background-color;

  &:hover,
  &:focus {
    @include secondary-background-gradient;

    border: 1px solid $secondary_color;
  }
}

window.background {
  @include background-reset;

  $background-color: $background-color;

  headerbar {
    @include secondary-background-gradient;
    background-color: transparent;

    button {
      @include background-reset;

      background-color: $dark_color;
    }
  }
}
